<div class="navbar">
  <h1 id="brand-text"><%= link_to "Rent-Wheels", root_path %></h1>

  <ul id="nav-list">
    <% if !session[:user_id].nil? %>
    <li><%= link_to "All Agreements", all_agreements_path, class:"nav-items"%></li>
    <li><%= link_to "Active Agreement", active_agreement_path, class:"nav-items"%></li>
    <li><%= link_to "My Profile", profile_path, class:"nav-items"%></li>
    <% end %>
  </ul>
</div>
